* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

.control-button {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #3c4d90;
  background-image:url(./images/memo-logo.png) ;
  background-position:  50% 10%;
  background-repeat: no-repeat;
  background-size: 50rem;
  z-index: 2;
}

.control-button span {
  padding: 1.8rem;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  background: rgb(255, 251, 30);
  font-size: 2rem;
  display: flex;
  margin: 35rem auto;
  justify-content: center;
  align-items:center ;
  width: 10rem;
}

.info-container {
  width: 900px;
  margin: 2rem auto 0;
  font-size: 1.8rem;
  border: 5px solid #0e763a;
  display: flex;
  justify-content: space-between;
  padding: 1.3rem;
}

.memory-game-container {
  display: flex;
  flex-wrap: wrap;
  width: 920px;
  margin: 2rem auto;
}

.game-block {
  height: 150px;
  cursor: pointer;
  position: relative;
  margin: 0 10px 20px;
  flex: 1 0 170px;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.game-block .front::before {
  content: '?';
  color: #fff;
  font-size: 5rem;
}

.game-block .front {
  background: #333;
  line-height: 150px;
}
.game-block .back {
  background: #607dbb;
  transform: rotateY(180deg);
}

.game-block .back img {
  width: 110px;
  height: 110px;
  margin-top: 10px;
}

.game-block .face {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  backface-visibility: hidden;
  border: 5px solid #0e763a;
}

.game-block.is-flipped,.game-block.is-matched {
  /* -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg); */
  transform: rotateY(180deg);
}

.no-clicking{
    pointer-events: none;
}